<div class="table-container">
  <div class="header py-1">
    <h1>EPL <%= Date.today.strftime("%d/%m/%y") %></h1>
  </div>
  <% @table.each do |team| %>
    <div class="team <%= team.classname(team) %> py-1">
      <h1><%= team.names(team).upcase %></h1>
    </div>
  <% end %>
</div>